
.owo {
    margin-bottom: 80px;
    background: linear-gradient(175.96deg, rgba(254, 111, 98, 0.97) -2.87%, rgba(241, 142, 133, 0.9) 69.81%, #F1D985 128.78%);
    width: 100%;
}

.sale {
    margin-top: 80px;
    padding: 16px;
    background: linear-gradient(175.96deg, #9BC40F -2.87%, rgba(164, 204, 26, 0.85) 60.47%, rgba(186, 210, 102, 0.97) 95.87%, #F1D985 128.78%);
    position: relative;
}

.boll_1 {
    position: absolute;
    left: 0px;
    top: 55px;
}

.boll {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.bac {
    background-image: url("../static/img/vector about us (2).png");
}

.font_p {
    font-family: 'Poppins', sans-serif;
}

.banner {
    min-width: 100%;
}

.banner_cont {
    width: 100%;
}

.font_medium_b {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
}

.font_medium_r {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
}

.font_medium {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.sale_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}

.sale_contect {
    width: 421px;
    height: 81px;
    text-align: center;
    padding-top: 16px;
    border-radius: 37px;
    background: #FFFFFF;
    margin-top: 32px;
}

.font_b {
    font-family: 'Balsamiq Sans', cursive;
}

.font_color_w {
    color: #ffffff;
}

.font_color {
    color: #F18E85;
}

.font_bold_b {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.font_regular_b {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.text_by_round_title {
    white-space: pre-line;
}

.text_by_round {
    text-align: center;
    margin-top: 50px;
}


.lap_number {
    background: aqua;
    border: 8px solid #ffff;
    border-radius: 50%;
    height: 88px;
    width: 88px;
    z-index: 10;
    position: absolute;
    bottom: -47px;
    left: 105px;
    font-size: 48px;
    text-align: center;
}


.round {
    border-radius: 100px; /* Радиус скругления */
    padding: 10px;

}

/*directions-----------------------------------------------------------------------------*/

.container_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.directions_schedule {
    padding-top: 110px;
}

.directions_item {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: initial;
}

/*directions-----------------------------------------------------------------------------*/


.border1 {
    border: 3px solid #BAD266;

}

.border2 {
    border: 3px solid #F18E85;
}

.border3 {
    border: 3px solid #FACA4E;
}

.border4 {
    border: 3px solid #F18E85;
}

.border5 {
    border: 3px solid #FACA4E;
}

.border6 {
    border: 3px solid #BAD266;
}

.img {
    width: 180px;
    transition: transform 1s;
}

.hide:hover .lap_number {
    transition: transform 10s;
    opacity: 1;
}

.hide:hover .lap_number {
    transition: transform 10s;
    opacity: 0;
}


.img:hover {
    border: none;
    transform: scale(1.3);
}

.relative {
    position: relative;
}

.circle {
    position: absolute;
    top: -15px;
    left: -1px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    width: 13em;
    height: 13em;
}

.sale_border {
    border: 2px dashed #FFFF;
}

.text_title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.scheduleItems_text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.button1 {
    background: #FFFFFF;
    border: 1px solid #F18E85;
    box-sizing: border-box;
    border-radius: 37px;
}

.infoHeader_name {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}

.time_text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.age_text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.price_text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
}

.border_img {
    border-radius: 25px;
}

.m-t3 {
    margin-top: 30px;
}

.margin-right {
    margin-right: 50px;
}

.m-r17 {
    margin-right: 17px;
}

.margin-left {
    margin-left: 50px;
}

.m-l10 {
    margin-left: 100px;
}

.m-b3 {
    margin-bottom: 30px;
}

.m-b3 {

    margin-bottom: 10px;
}


.m-b4 {
    margin-bottom: 40px;
}

.m-t6 {
    margin-top: 60px;
}

.m-b6 {
    margin-bottom: 60px;
}

.m-b8 {
    margin-bottom: 80px;
}

.m-t8 {
    margin-top: 80px;
}

.p-b0 {
    margin-bottom: 3px;
}

.p-a10 {
    padding: 10px;
}

.card1 {
    margin-top: 60px;
    border: 1px solid black;
    border-radius: 22px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}


.info {
    width: 33%
}


.schedule {
    width: 33%;
    margin-left: 10px;
    height: 90%;
    margin-top: 5%
}

.scheduleItems {
    display: flex;
    flex-flow: column wrap;
    height: 20%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.scheduleItems_item {
    display: flex;
}

.item {
    width: 40%
}

.price {
    margin-top: 150px;
}

.infoHeader {
    margin-left: 75px;
}

.infoItems {
    margin-top: 10%
}


.description {
    margin-top: 10%
}

.time {
    display: flex;
    align-items: center;
}

.timeTitle {
    width: 30%;
}

.age {
    margin-top: 10%;
    display: flex;
    align-items: center
}

.ageTitle {
    width: 30%
}

.bouton {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    border-radius: 100px;
    border: 0px;
    background: linear-gradient(91.77deg, #9BC40F 3.34%, rgba(164, 204, 26, 0.85) 50.38%, rgba(186, 210, 102, 0.97) 101.11%);
    height: 50px;
    width: 310px;
    transition: box-shadow 0.1s linear;

}

.bouton:hover {
    transition: box-shadow 0.1s linear;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    border-radius: 100px;
    border: 0px;
    background-image: linear-gradient(60deg, #3498db, #7c4891);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.bouton:active {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    border-radius: 100px;
    border: 0px;
    background-image: linear-gradient(60deg, #3498db, #7c4891);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    height: 45px;
    width: 145px;
}

@media screen and (max-width: 1440px) {
    .media {
        margin-left: 100px;
    }
}