/*body {*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 26px;*/
/*}*/

.owo {
    margin-bottom: 80px;
    background: linear-gradient(175.96deg, rgba(254, 111, 98, 0.97) -2.87%, rgba(241, 142, 133, 0.9) 69.81%, #F1D985 128.78%);
    width: 100%;
}
.sale {
background: linear-gradient(175.96deg, #9BC40F -2.87%, rgba(164, 204, 26, 0.85) 60.47%, rgba(186, 210, 102, 0.97) 95.87%, #F1D985 128.78%);
}

.background {
    background: url("../static/img/vector about us (1).svg") 50%;
    min-height: 100%;
    min-width: 640px;
    height: auto;
    position: absolute;
    top: 35%;
    left: 266px;
}


.bac {
    background: url("../static/img/vector about us (1).svg") 50%;
}

.text_by_round_title {
    white-space: pre-line;
}

.text_by_round {
    text-align: center;
    margin-top: 50px;
}


.lap_number {
    background: aqua;
    border: 8px solid #ffff;
    border-radius: 50%;
    height: 88px;
    width: 88px;
    z-index: 10;
    position: absolute;
    bottom: -47px;
    left: 105px;
    font-size: 48px;
    text-align: center;
}

.round_number {

}

.round {
    border-radius: 100px; /* Радиус скругления */
    padding: 10px;

}

.border1 {
    border: 3px solid #BAD266;

}

.border2 {
    border: 3px solid #F18E85;
}

.border3 {
    border: 3px solid #FACA4E;
}

.border4 {
    border: 3px solid #F18E85;
}

.border5 {
    border: 3px solid #FACA4E;
}

.border6 {
    border: 3px solid #BAD266;
}

.img {
    width: 180px;
    transition: transform 1s;
}

.hide:hover .lap_number {
    transition: transform 10s;
    opacity: 1;
}

.hide:hover .lap_number {
    transition: transform 10s;
    opacity: 0;
}


.img:hover {
    border: none;
    transform: scale(1.3);
}

.relative {
    position: relative;
}

.circle {
    position: absolute;
    top: -15px;
    left: -1px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    width: 13em;
    height: 13em;
}

.m-t3 {
    margin-top: 30px;
}

.margin-right {
    margin-right: 50px;
}

.margin-left {
    margin-left: 50px;
}

.m-b3 {
    margin-bottom: 30px;
}

.m-b6 {
    margin-bottom: 60px;
}