{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Любопытная Варвара</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.js"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
</head>
<body>
<div class="owo">
    <nav class="navbar justify-content-center ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <div>
                    <img src="{% static 'img/logo (3).png' %}" alt="">
                </div>
            </a>
            <a class="me-3 py-2 text-dark text-decoration-none" href=''>О нас</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href='#part1'>Детский сад</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href=''>Занятия</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href=''>Галерея</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href=''>Расписание</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href=''>Контакты</a>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title-garden">
                    <div class="title-garden_item title-item1">Детский клуб</div>
                    <div class="title-garden_item title-item2">Любопытная Варвара</div>
                </div>
                <div class="offer">
                   <div class=""> При записи на сайте - </div>
                     <div>
                    пробное занятие бесплатно!
                </div>
                </div>
                <batten class="btn_offer">Попробовать бесплатно</batten>
            </div>
            <div class="col">
                <div class="pa">
                    <img src="{% static 'img/photo_2022-04-12_11-02-26 3.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>




{% block content %}
{% endblock %}


</body>
</html>