{% extends "layout/basic.html" %}
{% load static %}
{% block content %}

    {#why are we -------------------------------------------------------------#}
    <div class="bac container">
        <div class="">
            {#            <img src="{% static 'img/vector about us (2).png' %}" alt="">#}
            <div class=" m-l10 m-b4">
                <span class="font_b font_bold_b font_color">
                Почему мы?
            </span>
                <div class="font_b font_regular_b">
                    Наши преимущества
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class=" text-center m-b6">
                        <div class="hide">
                            <img class=" img round border1" src="{% static 'img/12071359_l-2015 2-2.png' %}"
                                 alt="мальчик">
                            <div class="relative">
                                <div class="lap_number ">1</div>
                            </div>
                        </div>
                        <div class="text_by_round ">
                            <div class="font_b font_bold_b p-b0">Удобно</div>
                            <span class="font_p font_medium">
                       Мы работаем с 9 до 19
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-center m-b6 ">
                        <div class="hide">
                            <div class="hide">
                                <img class=" img  round border2" src="{% static 'img/12071359_l-2015 2-1.png' %}"
                                     alt="Учитель с ребенком">
                                <div class="relative">
                                    <div class="lap_number ">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0">Безопасно</div>
                            <span class="font_p font_medium">Видеонаблюдение, <br>
                        закрытая территория
                        </span>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="text-center">
                        <div class="hide">
                            <img class=" img round border3" src="{% static 'img/12071359_l-2015 2.png' %}"
                                 alt="помещение сада">
                            <div class="relative">
                                <div class="lap_number ">3</div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0">Профессионально</div>
                            <span class="font_p font_medium"> Квалифицированные <br>
                        и опытные педагоги
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="text-center">
                        <div class="hide">
                            <img class=" img round border4" src="{% static 'img/12071359_l-2015 2-5.png' %}"
                                 alt="мальчик">
                            <div class="relative">
                                <div class="lap_number ">4</div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0">Комфортно</div>
                            <span class="font_p font_medium"> Небольшие группы, <br>
                            до 10 детей
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <div class="hide">
                            <img class=" img round border5" src="{% static 'img/12071359_l-2015 2-3.png' %}"
                                 alt="Учитель с ребенком">
                            <div class="relative">
                                <div class="lap_number ">5</div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0"> Вкусно</div>
                            <span class="font_p font_medium"> 4-х разовое горячее
                            питание
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <div class="hide">
                            <img class=" img round border6" src="{% static 'img/12071359_l-2015 2-4.png' %}"
                                 alt="помещение сада">
                            <div class="relative">
                                <div class="lap_number ">6</div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0"> Уютно</div>
                            <span class="font_p font_medium">Домашняя обстановка <br> для обучения и развития
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#sale---------------------------------------------------------------------#}
    <div class="m-b8 m-t8 banner">
        <img class="banner_cont" src="{% static 'img/Frame 1.png' %}" alt="">
    </div>






    {#Наши направления -----------------------------------------------------------------------------------#}
    <div class="container">
        <div class="m-l10 m-b4">
                <span class="font_b font_bold_b font_color">
               Что мы предлагаем?
            </span>
            <div class="font_b font_regular_b">
                Наши направления
            </div>
        </div>
        {% for garden in gardens %}
            <div class="card1">
                <img src="{{ garden.poster.url }}" alt="">
                <div class='schedule'>
                    <div class="m-b3">Расписание:</div>
                    <div class="scheduleItems">
                        {% for type in garden.types.all %}
                            <div class="item font_medium font_p">
                                <div class="scheduleItems_item">
                                    <img class="m-b3" src="{% static 'img/icon_ check.png' %}" alt="">
                                    <div>{{ type.name }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="price">
                        <div>{{ garden.price_for_one }}/разовое посещение*</div>
                        <div>{{ garden.price_for_month }}/месяц</div>
                    </div>
                </div>
                <div class="info">
                    <h2 class="infoHeader">{{ garden.title }}</h2>
                    <div class="infoItems">
                        <div class="time">
                            <div class="timeTitle">Время:</div>
                            <div class="timeInfo">
                                {{ garden.time }}
                            </div>
                        </div>
                        <div class="age">
                            <div class="ageTitle">Возраст:</div>
                            <div class="ageInfo"> {{ garden.age }}</div>
                        </div>
                        <div class="description">
                            {{ garden.description }}
                        </div>
                        <button class="bouton">Записаться</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>






    {#    <div class="container">#}
    {#        <div class="card1">#}
    {#            <div class="m-l10 m-b4">#}
    {#                <span class="font_b font_bold_b font_color">#}
    {#               Что мы предлагаем?#}
    {#            </span>#}
    {#                <div class="font_b font_regular_b">#}
    {#                    Наши направления#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        {% for garden in gardens %}#}
    {#            <div>#}
    {#                <div class="directions container_grid">#}
    {#                    <div class="">#}
    {#                        <img src="{{ garden.poster.url }}" alt=""></div>#}
    {#                    <div class="directions_schedule">#}
    {#                        <div> Расписание:</div>#}
    {##}
    {#                        <div class="directions_item">#}
    {#                            {% for type in garden.types.all %}#}
    {#                                <div class="">#}
    {#                                    <span class="m-r17">#}
    {#                                        <img class="m-b3" src="{% static 'img/icon_ check.png' %}" alt="">#}
    {#                                    </span>#}
    {#                                    <span class="pt-1">#}
    {#                                {{ type.name }}#}
    {#                            </span>#}
    {##}
    {#                                </div>#}
    {#                            {% endfor %}#}
    {#                        </div>#}
    {##}
    {##}
    {#                        <div>#}
    {#                            {{ garden.price_for_one }}#}
    {#                            {{ garden.price_for_month }}#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                    <div class="">#}
    {#                        <div>#}
    {#                                 {{ garden.title }}#}
    {#                        </div>#}
    {#                        <div>\#}
    {#                        </div>#}
    {#                        {{ garden.title }}#}
    {#                        {{ garden.time }}#}
    {#                        {{ garden.age }}#}
    {#                        {{ garden.description }}#}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#        {% endfor %}#}
    {#    </div>#}



{% endblock %}