{% extends "layout/basic.html" %}
{% load static %}
{% block content %}

    {#why are we -------------------------------------------------------------#}
    <div class="bac container">
        <div class="">
            {#            <img src="{% static 'img/vector about us (2).png' %}" alt="">#}
            <div class=" m-l10 m-b4">
                <span class="font_b font_bold_b font_color">
                Почему мы?
            </span>
                <div class="font_b font_regular_b">
                    Наши преимущества
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class=" text-center m-b6">
                        <div class="hide">
                            <img class=" img round border1" src="{% static 'img/12071359_l-2015 2-2.png' %}"
                                 alt="мальчик">
                            <div class="relative">
                                <div class="lap_number ">1</div>
                            </div>
                        </div>
                        <div class="text_by_round ">
                            <div class="font_b font_bold_b p-b0">Удобно</div>
                            <span class="font_p font_medium">
                       Мы работаем с 9 до 19
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-center m-b6 ">
                        <div class="hide">
                            <div class="hide">
                                <img class=" img  round border2" src="{% static 'img/12071359_l-2015 2-1.png' %}"
                                     alt="Учитель с ребенком">
                                <div class="relative">
                                    <div class="lap_number ">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0">Безопасно</div>
                            <span class="font_p font_medium">Видеонаблюдение, <br>
                        закрытая территория
                        </span>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="text-center">
                        <div class="hide">
                            <img class=" img round border3" src="{% static 'img/12071359_l-2015 2.png' %}"
                                 alt="помещение сада">
                            <div class="relative">
                                <div class="lap_number ">3</div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0">Профессионально</div>
                            <span class="font_p font_medium"> Квалифицированные <br>
                        и опытные педагоги
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="text-center">
                        <div class="hide">
                            <img class=" img round border4" src="{% static 'img/12071359_l-2015 2-5.png' %}"
                                 alt="мальчик">
                            <div class="relative">
                                <div class="lap_number ">4</div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0">Комфортно</div>
                            <span class="font_p font_medium"> Небольшие группы, <br>
                            до 10 детей
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <div class="hide">
                            <img class=" img round border5" src="{% static 'img/12071359_l-2015 2-3.png' %}"
                                 alt="Учитель с ребенком">
                            <div class="relative">
                                <div class="lap_number ">5</div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0"> Вкусно</div>
                            <span class="font_p font_medium"> 4-х разовое горячее
                            питание
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <div class="hide">
                            <img class=" img round border6" src="{% static 'img/12071359_l-2015 2-4.png' %}"
                                 alt="помещение сада">
                            <div class="relative">
                                <div class="lap_number ">6</div>
                            </div>
                        </div>
                        <div class="text_by_round">
                            <div class="font_b font_bold_b p-b0"> Уютно</div>
                            <span class="font_p font_medium">Домашняя обстановка <br> для обучения и развития
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#sale---------------------------------------------------------------------#}
    <div class="m-b8 m-t8 banner">
        <img class="banner_cont" src="{% static 'img/Frame 1.png' %}" alt="">
    </div>


    {#Наши направления -----------------------------------------------------------------------------------#}
    <div class=" bac2">
        <div id="part1"  class=" container">
            <div  class=" m-b4">
                <span class="font_b font_bold_b font_color">
               Что мы предлагаем?
            </span>
                <div class="font_b font_regular_b">
                    Наши направления
                </div>
            </div>

            {% for garden in products %}
                {% if garden.group.id == 1 %}
                    <div class="card1 m-b1 ">
                        <div><img class="border_img" src="{{ garden.poster.url }}" alt=""></div>
                        <div class='schedule'>
                            <div class="m-b3 font_b text_title">Расписание:</div>
                            <div class="scheduleItems price">
                                {% for type in garden.types.all %}
                                    <div class="item font_medium font_p">
                                        <div class="scheduleItems_item">
                                            <div><img class="m-b1 " src="{% static 'img/icon_ check.png' %}" alt=""></div>
                                            <div class="p-a10 font_p scheduleItems_text">{{ type.name }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class=" price_text font_b">
                                <div>{{ garden.price_for_one }}/разовое посещение*</div>
                                <div>{{ garden.price_for_month }}/месяц</div>
                            </div>
                        </div>
                        <div class="info">
                            <h2 class="infoHeader infoHeader_name font_b">{{ garden.title }}</h2>
                            <div class="infoItems">
                                <div class="time font_p ">
                                    <div class="timeTitle font_b time_text">Время:</div>
                                    <div class="timeInfo age_text">
                                        {{ garden.time }}
                                    </div>
                                </div>
                                <div class="age font_p ">
                                    <div class="ageTitle font_b time_text">Возраст:</div>
                                    <div class="ageInfo age_text"> {{ garden.age }}</div>
                                </div>
                                <div class="description m-b6 font_p age_text">
                                    {{ garden.description }}
                                </div>
                                <button class="bouton">Записаться</button>
                            </div>
                        </div>
                    </div>

                    {% elif garden.group.id > 1 %}


 {% if forloop.counter0|divisibleby:3 %} <div class="row "> {%  endif %}
           <div class="category-a col-4 col-sm-12 col-xxl-4 col-xl-4 m-b6">
                            <div class="card" style="width: 25rem;">
                                <img src="{{ garden.poster.url }}" class="card-img-top border_img_top" alt="...">
                                <div class="card-border">
                                    <div class="age_time card_text font_p">
                                        <div class="card-link">{{ garden.age }}</div>
                                        <div class="card-link">{{ garden.time }}</div>
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title  font_b"> {{ garden.title }}</h5>
                                        <div class="card-text card_text font_p h">
                                            <div>
                                                {{ garden.description }}
                                            </div>
                                        </div>
                                        <div class="card-text card_text_f font_b m-b2">
                                            {% if garden.price_for_one and garden.price_for_month != null %}
                                                <div class="">{{ garden.price_for_one }}/пробное занятие</div>
                                                <div class="">{{ garden.price_for_month }}/занятие в абонементе*
                                                </div>
                                            {% else %}
                                                <div class="">{{ garden.price_for_month }}/занятие в абонементе*
                                                </div>
                                            {% endif %}

                                        </div>
                                        <div class="text-center">
                                            <button class="bouton">Записаться</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                     {% if forloop.last  %}
                        <div class="col-4 col-sm-12 col-xxl-4 col-xl-4 m-b6">
                        <img src="{% static 'img/logo (4).png' %}" alt="">
                    </div>
                    {% endif %}

            {%  if forloop.counter|divisibleby:3 or forloop.last %}</div> {%  endif %}

                {% endif %}
            {% endfor %}

{#            <div class="row m-t6">#}
{#                {% for garden in products %}#}
{#                    {% if garden.group.id != 1 %}#}
{#                    {% if garden.group.id == 2 %}#}
{#                        <div class="category-a col-4 col-sm-12 col-xxl-4 col-xl-4 m-b6">#}
{#                            <div class="card" style="width: 25rem;">#}
{#                                <img src="{{ garden.poster.url }}" class="card-img-top border_img_top" alt="...">#}
{#                                <div class="card-border">#}
{#                                    <div class="age_time card_text font_p">#}
{#                                        <div class="card-link">{{ garden.age }}</div>#}
{#                                        <div class="card-link">{{ garden.time }}</div>#}
{#                                    </div>#}
{##}
{#                                    <div class="card-body">#}
{#                                        <h5 class="card-title  font_b"> {{ garden.title }}</h5>#}
{#                                        <div class="card-text card_text font_p h">#}
{#                                            <div>#}
{#                                                {{ garden.description }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="card-text card_text_f font_b m-b2">#}
{#                                            {% if garden.price_for_one and garden.price_for_month != null %}#}
{#                                                <div class="">{{ garden.price_for_one }}/пробное занятие</div>#}
{#                                                <div class="">{{ garden.price_for_month }}/занятие в абонементе*#}
{#                                                </div>#}
{#                                            {% else %}#}
{#                                                <div class="">{{ garden.price_for_month }}/занятие в абонементе*#}
{#                                                </div>#}
{#                                            {% endif %}#}
{##}
{#                                        </div>#}
{#                                        <div class="text-center">#}
{#                                            <button class="bouton">Записаться</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}

            <div class="link font_b">
                *При приобретении абонемента на 8 занятий
            </div>

            {#занятия---------------------------------------------------------------------------------------------------#}
{% endblock %}